pandas
psycopg2
sqlalchemy
openpyxl
numpy
xlrd
python-dotenv
requests
matplotlib
geopy
matplotlib
fiona
shapely
seaborn
geopandas[all]
pymannkendall
libpysal --only-binary :all
esda --only-binary :all
dash
dash_bootstrap_components
windrose

# activating the .venv in windows: .\.venv\Scripts\Activate.ps1
# activating the .venv in linux: source .venv/bin/activate
